PORT=4173
MUSIC_LIBRARY_ROOT=./storage/media
BLACKMAMBA_WAV_MASTER=/Volumes/ADATA SC740/MÚSICA/WAV_MASTER
SOUNDCLOUD_CLIENT_ID=
SOUNDCLOUD_CLIENT_SECRET=
SOUNDCLOUD_ACCESS_TOKEN=
SOUNDCLOUD_REFRESH_TOKEN=
SOUNDCLOUD_AUTO_UPLOAD=true
SOUNDCLOUD_AUTO_SHARING=private
SOUNDCLOUD_REQUIRE_METADATA=true
SOUNDCLOUD_REQUIRE_COVER=true
